*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 30px;
    padding-left: 30px;
   
}

#nav h4{
    font-size: 20px;
    font-weight: 700;
   
}

#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 700;
}


.main h1{
    
    width: 100%;
    /* background-color: red; */
    padding: 30px 80px;
    /* font-size: 80px; */
    font-size: 5.7vw;
    font-weight: 500;
    line-height: 6vw;
}

.center-in {
 padding-left: 80px;
 width: 100%;
 height: 200px;
 display: flex;
 justify-content: space-between;
 /* background-color: red; */

}

.center-in p{
    /* font-size: 20px; */
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 3vw;
}
.right{
    width: 20%;
  
}

.element{
   
    border-top: 2px solid black;
    padding: 15px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.element a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}


.element i{
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
    cursor: pointer;
}

.element:hover i{
     opacity: 1;
}

.element:hover{
    background-color: rgb(192, 199, 205);
}

.element:hover a{
    text-decoration: underline;
}

.bottom{

 background-image: url(https://media.istockphoto.com/id/1849962649/photo/photo-of-beautiful-amazed-girl-wearing-casual-black-t-shirt-isolated-black-background-stock.jpg?s=612x612&w=0&k=20&c=qpoKF_YYQfIy6HlNogL7RKVRdYiIMymvJobfHWu2tKQ=);
    height: 80%;
    width: 100%;
    background-color: red;
    background-size: cover;
    background-position:0 11%;
    margin-top: 40px;
}

/* Responsive */

@media (max-width:600px){
    #nav{
        /* background-color: red; */
        height: 60px;
       
        gap: 25px;
        padding-right: 30px;
        padding-left: 30px;
       
    }

    #nav h4{
        font-size: 15px;
        font-weight: 700;
        
       
    }
    
    #nav i{
        background-color: black;
        color: white;
        font-size: 15px;
        padding: 8px;
        border-radius: 50%;
        font-weight: 700;
    }

    .main h1{
    
        width: 100%;
        /* background-color: red; */
        padding: 15px 10px;
        /* font-size: 80px; */
        font-size: 5.7vw;
        font-weight: 500;
        line-height: 6vw;
    }
    
    .center-in {
        gap: 20px;
        margin-top: 15px;
     padding-left: 15px;
     width: 100%;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     /* background-color: red; */
    
    }
    
    .center-in p{
        gap: 20px;
        /* font-size: 20px; */
        font-size: 2.8vw;
        font-weight: 700;
        line-height: 4vw;
    }

    .right{
        width: 100%;
      
    }
    
    .element{
       
        border-top: 1.54px solid black;
        padding: 5px 0;
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    .element a{
        color: rgb(42, 41, 41);
        text-decoration: none;
        font-size: 13px;
        font-weight: 600;
        padding: 5px 0;
    }
    
    
    .element i{
        color: rgb(42, 41, 41);
        font-size: 18px;
        font-weight: 500;
        opacity: 1;
        cursor: pointer;
    }
    
   
    .element:hover{
        background-color: rgb(192, 199, 205);
    }
    
    .element:hover a{
        text-decoration: underline;
    }

    .bottom{

        background-image: url(https://media.istockphoto.com/id/1849962649/photo/photo-of-beautiful-amazed-girl-wearing-casual-black-t-shirt-isolated-black-background-stock.jpg?s=612x612&w=0&k=20&c=qpoKF_YYQfIy6HlNogL7RKVRdYiIMymvJobfHWu2tKQ=);
           height: 35%;
           width: 100%;
           background-color: red;
           background-size: cover;
           background-position:0 11%;
           margin-top: 30px;
       }
    
}



